.brand-logo {
  margin-left: 30px;
}

h4 {
  color: #ffb300;
  text-align: center;
  margin-top: 0px;
  margin-block-end: 35px;
}

.content {
  width: 50%;
  background: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.input-field {
  margin-block-end: 17px;
}

input {
  width: -webkit-fill-available;
  padding: 8px;
  font-size: 15px;
  margin-bottom: 20px;
}

button {
  background: #ffb300;
  border: 1px solid #ffb300;
  padding: auto;
  padding-left: 20px;
  padding-right: 20px;
}

button:hover {
  background: #ffb300;
  color: white;
  cursor: pointer;
}

th {
  background: #ffb300;
  color: white;
  border: 10px solid;
}

button:disabled {
  background: #bbb;
  color: #555;
  border: none;
  cursor: not-allowed;
}

.remove-parent i {
  text-align: center;
  color: white;
}

.edit-parent {
  margin-right: 8px;
  background-color: #326CA4;
}

table input {
  border: 1px solid;
  padding-left: 8px;
  background: white;
}

.confirm-parent {
  margin-right: 8px;
  background: #2EBE48;
}

#bnt-sidenav {
  width: 50%;
  margin-top: 7%;
  margin-left: 10%;
}

.btn {
  text-transform: none;
}
