<nav class="nav-extended cyan darken-2">
<!-- NavBar Principal -->
<div class="nav-wrapper">
    <a href="#!" class="brand-logo">A&E</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="tab"><a routerLink="cliente" href="#test1">Quem Somos?</a></li>
      <li class="tab"><a routerLink="cliente" href="#test1">FAQ</a></li>
    </ul>
  </div>
</nav>

  <!-- Login -->
  <div>||</div>
  <div>VAMO MONTAR ESSA BAGAÇA</div>

  <!-- Menu Mobile -->
  <ul class="sidenav" id="mobile-demo">
      <a href="#!" class="brand-logo">A&E</a>
      <li class="tab"><a routerLink="cliente" href="#test1">Quem Somos?</a></li>
      <li class="tab"><a routerLink="cliente" href="#test1">FAQ</a></li>
    </ul>