<nav class="nav-extended cyan darken-2">

  <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
  
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <!--<li class="tab"><a routerLink="paginaInicial" href="#test2">Home</a></li>-->
      <li class="tab"><a routerLink="cliente" href="#test1">Cadastrar Cliente</a></li>
      <li class="tab"><a routerLink="listClientes" href="#test2">Lista de Clientes</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
