<!-- NavBar Principal -->
<nav class="nav-extended cyan darken-2">
  <div class="nav-wrapper">
    <a href='' class="brand-logo">A&E</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="tab"><a routerLink='' href="#test1">Cliente</a></li>
      <li class="tab"><a routerLink='' href="#test1">E-commerce</a></li>
      <li class="tab"><a routerLink='' href="#test1">Loja Física</a></li>
      <li class="tab"><a routerLink='' href="#test1">Quem Somos?</a></li>
      <a class="btn waves-effect waves-light" routerLink="login">Fazer Login</a>
    </ul>
  </div>
</nav>

<!-- Carousel de Fixed com Button -->
<div class="carousel carousel-slider center container" data-indicators="true">
  <div class="carousel-item red white-text" href="#one!">
    <h2>Quer retirar o seu pedido?</h2>
    <p class="white-text">Retire o seu pedido no estabelecimento comercial, na hora que puder</p>
    <a class="btn waves-effect white grey-text darken-text-2">Seja um Cliente</a>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Seja uma Loja Virtual Parceira</h2>
    <p class="white-text">Tenha a liberdade de entregar suas encomendas de acordo com seus horários</p>
    <a class="btn waves-effect white grey-text darken-text-2">Seja um Entregador</a>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Seja uma Loja Física Parceira</h2>
    <p class="white-text">Faça parte do grupo de Lojas que recebem as encomendas e aumente seu fluxo de clientes em seu
      estabelecimento comercial</p>
    <a class="btn waves-effect white grey-text darken-text-2">Como Participar?</a>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Como isso funciona?</h2>
    <p class="white-text">Como é o serviços de entregas da A&E?</p>
    <a class="btn waves-effect white grey-text darken-text-2">Quem Somos?</a>
  </div>
</div>

<!-- Menu Mobile -->
<ul class="sidenav" id="mobile-demo">
  <li class="tab"><a class="btn waves-effect waves-light" id="bnt-sidenav" routerLink="login">Fazer
      Login</a></li>
  <li class="tab"><a routerLink='' href="#test1">Cliente</a></li>
  <li class="tab"><a routerLink='' href="#test1">E-commerce</a></li>
  <li class="tab"><a routerLink='' href="#test1">Loja Física</a></li>
  <li class="tab"><a routerLink='' href="#test1">Quem Somos?</a></li>
</ul>
