.brand-logo {
    margin-left: 30px;
  }

  .btn {
    text-transform: none;
  }

  .tab {
    text-transform: none;
  }

  #bnt-sidenav {
    width: 50%;
    margin-top: 7%;
    margin-left: 10%;
  }