<!-- NavBar Principal -->
<nav class="nav-extended cyan darken-2">
  <div class="nav-wrapper">
    <a href='' class="brand-logo">A&E</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="tab"><a routerLink='' href="#test1">Cliente</a></li>
      <li class="tab"><a routerLink='' href="#test1">E-commerce</a></li>
      <li class="tab"><a routerLink='' href="#test1">Loja Física</a></li>
      <li class="tab"><a routerLink='' href="#test1">Quem Somos?</a></li>
      <a class="btn waves-effect waves-light" routerLink="../login">Fazer Login</a>
    </ul>
  </div>
</nav>

<!-- Criar Conta -->
<div class="content card">
  <h4>Criar Conta</h4>

  <form (ngSubmit)="cadastrar(formNew)" #formNew="ngForm" class="col s6">
    <div class="row">

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.nome" #nome="ngModel" id="nome" type="text" class="validate" placeholder="João"
          name="Nome">
        <label class="active" for="nome">Nome</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.sobrenome" #sobrenome="ngModel" id="sobrenome" type="text" class="validate"
          placeholder=" da Silva Sauro" name="Sobrenome">
        <label class="active" for="sobrenome">Sobrenome</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.email" #email="ngModel" id="email" type="email" class="validate" placeholder="joao@armarioentregas.com"
          name="Email">
        <label class="active" for="email">Email</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.senha" #senha="ngModel" id="senha" type="password" class="validate" name="Senha">
        <label for="senha">Senha</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.cpf" #cpf="ngModel" id="cpf" type="text" class="validate" placeholder="123.456.789-10"
          name="CPF">
        <label class="active" for="cpf">CPF</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.endereco" #endereco="ngModel" id="endereco" type="text" class="validate" name="Endereço">
        <label for="endereco">Endereço</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.telefone" #telefone="ngModel" id="telefone" type="text" class="validate"
          placeholder="(01)98888-7777" name="Telefone">
        <label class="active" for="telefone">Telefone</label>
      </div>

      <div>
        <button class="btn right waves-effect waves-light" type="submit" name="action" [disabled]="!novoCliente.nome || !novoCliente.sobrenome || !novoCliente.email 
          || !novoCliente.senha || !novoCliente.cpf || !novoCliente.endereco || !novoCliente.telefone">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </div>
  </form>
</div>

<!-- Menu Mobile -->
<ul class="sidenav" id="mobile-demo">
    <li class="tab"><a class="btn waves-effect waves-light" id="bnt-sidenav" routerLink="../login">Fazer
        Login</a></li>
    <li class="tab"><a routerLink='' href="#test1">Cliente</a></li>
    <li class="tab"><a routerLink='' href="#test1">E-commerce</a></li>
    <li class="tab"><a routerLink='' href="#test1">Loja Física</a></li>
    <li class="tab"><a routerLink='' href="#test1">Quem Somos?</a></li>
</ul>
