<div class="content card">
  <h4>Cadastrar-se (Cliente)</h4>

  <form (ngSubmit)="cadastrar(formNew)" #formNew="ngForm" class="col s6">
    <div class="row">

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.nome" #nome="ngModel" id="nome" type="text" class="validate" name="Nome">
        <label for="nome">Nome</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.sobrenome" #sobrenome="ngModel" id="sobrenome" type="text" class="validate" name="Sobrenome">
        <label for="sobrenome">Sobrenome</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.email" #email="ngModel" id="email" type="email" class="validate" name="Email">
        <label for="email">Email</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.senha" #senha="ngModel" id="senha" type="password" class="validate" name="Senha">
        <label for="senha">Senha</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.cpf" #cpf="ngModel" id="cpf" type="text" class="validate" name="CPF">
        <label for="cpf">CPF</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.endereco" #endereco="ngModel" id="endereco" type="text" class="validate" name="Endereço">
        <label for="endereco">Endereço</label>
      </div>

      <div class="input-field col s6">
        <input [(ngModel)]="novoCliente.telefone" #telefone="ngModel" id="telefone" type="text" class="validate" name="Telefone">
        <label for="telefone">Telefone</label>
      </div>

      <div>
        <button class="btn right waves-effect waves-lightj" type="submit" name="action" [disabled]="!novoCliente.nome || !novoCliente.sobrenome || !novoCliente.email 
        || !novoCliente.senha || !novoCliente.cpf || !novoCliente.endereco || !novoCliente.telefone">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </div>
  </form>
  
</div>
